<html>
<head>
  <title>中韩汇率</title>
  <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0; user-scalable=no">

  <meta name="apple-mobile-web-app-title" content="中韩汇率">
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="blank" />
  <meta name="format-detection" content="telephone=no" />

  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/icon/114x114.png" />
  <link href="/css/index.css" rel="stylesheet" type="text/css">
</head>
<body>
  <div class="main">
    <div id="show-div">
      <div class="step-2"></div>

      <div class="box">
        <div class="to-right">实时汇率</div>
        <div id="rate-real-time">
        读取中..
        </div>
        <div id="date-real-time">
        &nbsp;读取中..
        </div>
      </div>

      <div class="box">
        <div class="to-right">银联汇率</div>
        <div id="rate">
        读取中..
        </div>
        <div id="date">
        &nbsp;读取中..
        </div>
      </div>

      <div class="box">
        <img src="img/cal.png" id="to-conversion">
      </div>
    </div>
  </div>

<!-- Conventer -->
  <div class="main" id="conventer-bg">
    <div id="conventer-div">
        <div id="statusbar-20"></div>

        <img src="img/back2.png" id="btn-back">

        <div class="rate-row">
          <div><span id="first-symbol">¥</span>&nbsp;&nbsp;<span class="rate" id="first-rate">等待输入</span></div>
          <div><span id="second-symbol">₩</span>&nbsp;<span class="rate" id="second-rate">0</span></div>
        </div>

        <div class="num-row">
          <button class="num" id="num-1">1</button>
          <button class="num" id="num-2">2</button>
          <button class="num" id="num-3">3</button>
        </div>
        <div class="num-row">
          <button class="num" id="num-4">4</button>
          <button class="num" id="num-5">5</button>
          <button class="num" id="num-6">6</button>
        </div>
        <div class="num-row">
          <button class="num" id="num-7">7</button>
          <button class="num" id="num-8">8</button>
          <button class="num" id="num-9">9</button>
        </div>
        <div class="num-row">
          <button class="num" id="num-10">←</button>
          <button class="num" id="num-0">0</button>
          <button class="num" id ="num-11">⇌</button>
        </div>

        <div id="rate-standard">基准：银联汇率</div>
    </div>
  </div>

        
  <footer>
    <a href="mailto:dacerfeedback@gmail.com">
      © 2013 <span style="position: absolute; left: -100px; top: -100px">你看不见我但是会复制到我</span>Dacer
    </a>
  </footer>

  <script type="text/javascript" src="/js/jquery-1.10.2.min.js"></script>
  <script type="text/javascript" src="/js/index.js"></script>
  
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-44792120-1', 'huilv-idacer.rhcloud.com');
  ga('send', 'pageview');

</script>
</body>
</html>