<html>
<head>
  <title>中韩汇率</title>
  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1" />

  <meta name="apple-mobile-web-app-title" content="中韩汇率">
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="blank" />
  <meta name="format-detection" content="telephone=no" />

  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/icon/114x114.png" />

  <link href='http://fonts.googleapis.com/css?family=Roboto:100' rel='stylesheet' type='text/css'>
  <link href="/css/index.css" rel="stylesheet" type="text/css">
</head>
<body>
  <div id="main">
    <div class="step-2"></div>

    <div class="box">
      <div class="to-right">中韩汇率</div>
      <div id="rate">
      <%= format("%.3f",HuiLv::getLastestUnionPayHuilvAndDate[:rate]) %>
      </div>
      <div id="date">
      &nbsp;<%= HuiLv::getLastestUnionPayHuilvAndDate[:timeStr] %>
      </div>
    </div>

    <div class="box">
      <div class="to-right">Conversion</div>
      <input type="text" maxlength="40" name="q" id="q" value="">
      <br>
      <input type="text" maxlength="40" name="q" id="q" value="">
    </div>
    
  </div>

  <footer>
    © 2013 Dacer
  </footer>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script type="text/javascript" src="/js/index.js"></script>
</body>
</html>