<html>
<head>
  <title>中韩汇率</title>
  <meta name="apple-mobile-web-app-title" content="中韩汇率">
  <meta name="viewport" content="initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/icon/114x114.png" />
  <link href="/img/apple-touch-startup-image-640x920.png"
              media="(device-width: 320px) and (device-height: 480px)
                 and (-webkit-device-pixel-ratio: 2)"
              rel="apple-touch-startup-image">
  <!-- iPhone 5 -->
  <link href="/img/apple-touch-startup-image-640x1096.png"
        media="(device-width: 320px) and (device-height: 568px)
           and (-webkit-device-pixel-ratio: 2)"
        rel="apple-touch-startup-image">

</head>
<body>
  <%= format("%.3f",HuiLv::getLastestUnionPayHuilv) %>
  <br>
  <%= HuiLv::getLstestUnionPayDate %>
  <footer>
    footer
  </footer>
</body>
</html>